body {
    font-family: Arial, sans-serif;
    background: #2575fc;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 320px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: border 0.3s;
}


button {
    width: 100%;
    padding: 10px;
    background: #2575fc;
    border: none;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #1b5fd6;
}

.error {
    color: red;
    font-size: 13px;
    text-align: center;
}







